/* Cores:
        1. #003f5c
        2. #4c86af
        3. #547e9a

 */

/* Estrutura básica do HTML  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: "Arial", Helvetica, sans-serif; 
    max-width: 100%;     
}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Header */
.central_header{
    display: flex;
    flex-wrap: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    height: 200px;
    padding: 20px 0;
    
}

.menu{
    width: 50%;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.menu a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.menu a:hover{
    text-decoration: underline;
    
}

/* Circulo com icone do dinheiro */
/* section */
section.sobre{
    margin-top: -20%;
    height: 90%;
}

.circulo{
    position: relative;
    left: 800px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: #003f5c;
    margin-top: -2%;
}

#predio_icon{
    width: 40%;
    margin-top: -6%;
    margin-left: -5%;
}


/* Textos do index */
#ietec{
    color: #547e9a;
}

.texto_sobre {
    color: black;
    margin-left: 10%;
    margin-top: 1%;
    margin-left: 5%;
}

.texto_sobre h1{
    font-size: 50px;
}

.texto_sobre p{
    margin: 20px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 800px;

}

.texto_sobre button{
    text-decoration: none;
    border: 0;
    color: white;
    background-color:#003f5c;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;

}


/* Tela de login */
.login{
    text-align: center;
}

#login_img{
    width: 18%;
    margin-top: 10%;
    padding: 3%;
}

.input_do_login{
    margin-bottom: 1%;
    
}

.login a{
    text-decoration: none;
    color: black;
}

.login button {
    background-color: none;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;    
    border-color: #003f5c;
    border: 15px;


}

.login button:hover{
    background-color: #003f5c;
    color: white;
}

/* Inputs do login */
.input_do_login{
    padding: 0.3%;
    border-radius: 10px;
    
}

/* Quem somos */


/* Footer */
footer h4{
    margin-top: 0;
}

li :hover{
    background-color: rgba(0, 0, 0, 0);
}
footer ul {
    padding-left: 0;
}
.container{
	max-width: auto;
	margin:auto;
}
.footer-col{
   width: 22%;
   padding: 0 15px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
@media (max-width:600px)
{
.footer-col {
	margin: 15px;
}

a {
	padding:4px;
}
}

footer{
	background-color: #00a2ff91;
    padding: 70px 0;
	margin-top: 2%;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #9802ac;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #000000;
	padding-left: 8px;
}
@media(max-width: 100%){
  .footer-col{
    width: 100%;
    margin-bottom: 30px;
  }
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(0, 153, 255, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #000000;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #0099ff81;
	background-color: #000000;
}


/* Body do dashboard */
#dash {
    background-color: rebeccapurple;
    
}

/* Estilização das informações graficas resumidas */
#info_resumida{
    display: flex;
    list-style: none;
    justify-content: center;
    
}

/* Section trofeus */
#section_trofeu{
    width: 85%;
    margin: auto;
    border: 5px black double;
    border-radius: 10px 0px;
    background-color: lightgray;
    
}
/* Estilização das informações graficas*/
#info_graphics{
    display: flex;
    list-style: none;
    justify-content: center;
}

/* Informações do dashboard resumida */
.information{
    background: #cfcfcf;
    margin: 20px 30px;
    padding: 20px 0px;
    width: 20%;
    height: 10%;
    text-align: center;
    border-radius: 5px;
    box-shadow:  3px 3px black;
}
/* Informações do dashboard gráficas*/
.information_graphics{
    background: #cfcfcf;
    margin-left: 20px;
    width: 25%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 7px 5px black;
}
/* h1 trofeu */
#trofeu{
    text-align: center;
    font-size: 40px;
}
/* 'Sala' de Troféus */
#sala_trofeu{
    display: flex;
    width: 90%;
    margin-left: 15%;
}