#headerQS{
    display: flex;
    flex-wrap: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

#QS_menu {
    width: 50%;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

#QS_menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}


#QS_menu a:hover {
    font-size: 20px;
    animation: 2s;
    padding: 2%;

}

.box_somos {
    width: 60%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px;
    border: solid black 3px;
    border-radius: 100px 20px;
}
.box_somos h2{
    text-align: center;
}

#QS_footer {
    padding: 70px 0;
    margin-top: 2%;
    background-color: lightblue;
}
#row {
    display: flex;
}

.footer-col_QS {
    padding-left: 230px;

}

.footer-col_QS li {
    list-style: none;

}

.footer-col_QS h4{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col_QS h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #9802ac;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col_QS ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col_QS ul li a:hover {
    color: #000000;
    padding-left: 8px;
}