#rel_body {
    background-color: #4c86af;
}
#header_rel {
    background-color: white;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
}

#LogoIetec {
    width: 95px;
    padding: 4px;
}

#link_rel {
    margin-left: 60%;
    margin-top: 1.8%;
}

#link_relUl {
    display: flex;
}

.link_relLi {
    list-style: none;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.link_relLi:last-child{
    padding-left: 25px;
    padding-right: 25px;
}

.link_relLi a {
    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: gray;
}


#titulo_relatorio {
    color: white;
}

main {
    width: 1000px;
    margin: auto;
}

#filtro {
    border-radius: 10px;
    margin-bottom: 70px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-style: none;
}

#pesquisar {
    cursor: pointer;
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
    box-shadow: none;
    border-style: none;
}

#pesquisar:hover {
    background-color: #cccccc;
}

#div_relatorio {
    width: 0100%;
    height: 400px;
    background-color: white;
    padding-top: 20px;
    border-radius: 10px;
    border-style: none;
}

