#rel_body {
    background-color: #4c86af;
}


#header_rel {
    background-color: white;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
}

#LogoIetec {
    width: 95px;
    padding: 4px;
}

#link_rel {
    margin-left: 65%;
    margin-top: 1.8%;
}

#link_relUl {
    display: flex;
}

.link_relLi:first-child {
    margin-right: 10px;
}

.link_relLi {
    list-style: none;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.link_relLi:last-child{
    padding-left: 25px;
    padding-right: 25px;
}

.link_relLi a {
    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: gray;
}


#titulo_relatorio {
    color: white;
}

#principal_relatorio {
    max-width: 1000px;
    margin: auto;
}

#filtro {
    border-radius: 10px;
    margin-bottom: 70px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-style: none;
}

#pesquisar {
    cursor: pointer;
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
    box-shadow: none;
    border-style: none;
}

#pesquisar:hover {
    background-color: #cccccc;
}

#lista_relatorio {
    text-align: right;
    background-color: white;
    padding-top: 20px;
    border-radius: 10px;
    border-style: none;
}

#tabela_relatorio {
    width: 900px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.th_rel, .td_rel {
    text-align: center;
    border-bottom: 1px solid black;
}

.tr_r:nth-child(even) {
    background-color: #f2f2f2;
}

.tr_r:hover {
    background-color: #ddd;
}

#gerar {
    cursor: pointer;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #003f5c;
    border-radius: 5px;
    color: white;
    border-style: none;
    padding: 5px;
}

#tr_titulo {
    background-color: #003f5c;
    color: white;
}

.th_rel {
    padding-top: 4px;
    padding-bottom: 4px;
}

.lixeira {
    cursor: pointer;
    background-color: red;
    border-style: none;
    border-radius: 5px;
}