
/* Cores:
        1. #003f5c
        2. #4c86af
        3. #547e9a

 */
/* Estrutura básica do HTML  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: "Arial", Helvetica, sans-serif; 
    max-width: 100%;     
}

html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Header */
.central_header{
    display: flex;
    flex-wrap: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    height: 200px;
    padding: 20px 0;
    
}

.menu{
    width: 50%;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.menu a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.menu a:hover{
    font-size: 20px;
    animation: 2s;
    padding: 2%;

}

/* Circulo com icone do dinheiro */
/* section */
section.sobre{
    margin-top: -20%;
    height: 90%;
}

.circulo{
    position: relative;
    left: 800px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: #003f5c;
    margin-top: -2%;
}

#predio_icon{
    width: 40%;
    margin-top: -6%;
    margin-left: -5%;
}


/* Textos do index */
#ietec{
    color: #547e9a;
}

.texto_sobre {
    color: black;
    margin-left: 10%;
    margin-top: 1%;
    margin-left: 5%;
}

.texto_sobre h1{
    font-size: 50px;
}

.texto_sobre p{
    margin: 20px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 800px;

}

.texto_sobre button{
    text-decoration: none;
    border: 0;
    color: white;
    background-color:#003f5c;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;

}


/* Tela de login */
.login{
    text-align: center;
}

#login_img{
    width: 18%;
    margin-top: 10%;
    padding: 3%;
}

.input_do_login{
    margin-bottom: 1%;
    
}

.login a{
    text-decoration: none;
    color: black;
}

.login button {
    background-color: none;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;    
    border-color: #003f5c;
    border: 15px;


}

.login button:hover{
    background-color: #003f5c;
    color: white;
}

/* Inputs do login */
.input_do_login{
    padding: 0.3%;
    border-radius: 10px;
    
}

/* Quem somos */
body {
    background-color: lightgray;
}

/* Planejamento */

#calendario {
    margin-bottom: 245px;
}

#pesquisa_table {
    position: absolute;
    margin-top: 20px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 49px;
    padding-top: 5px;
    padding-bottom: 115px;
    width: 250px;
    background-color: white;
}

#tab_planejamento {
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    height: 600px;
    color: black;
    background-color: white;
    border-collapse: collapse;
}

#tab_planejamento th{
    border-bottom-style: solid;
    border-bottom-color: rgb(146, 146, 255);
    border-bottom-width: 3px;
    position: sticky;
}
#tab_planejamento td {
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tr:hover {background-color: rgb(234, 234, 255)}

#aside_table{
    width: 64%;
    margin-top: -5%;
    float: right;
}
